/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* General Styling */

.page-container {
    display: flex;
    flex-direction: column;
}

/* Header */

header {
    position: sticky;
    height: 5rem;
    background-color: white;
    display: grid;
    grid-template-columns: 4rem 1fr 8rem 8rem;
}

.icon-container {
    cursor: pointer;
}

header > a > img {
    border-radius: 50px;
    height: 4rem;
    width: 4rem;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 10rem);
    overflow-y: auto;
}

.library {
    background-color: #e5e5e5;
    overflow-y: auto;
    flex-grow:  1;
    padding: 2rem 10rem 2rem 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.book-card {
    background-color: white;
    border-radius: 8px;
    height: 14rem;
    min-width: 5rem;
}